<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>Leave Your Business Card</title>
	<link rel="stylesheet" href="/leavebusinesscard/c/reset.css" media="screen, projection" type="text/css"/>
	<link rel="stylesheet" href="/leavebusinesscard/c/screen.css" media="screen, projection" type="text/css"/>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/j/jquery.validate.min.js"></script>
	
	{if embed:type == 'sign-up'}
	<script type="text/javascript">
		$(document).ready(function(){
			$('#sign-up-form').validate();
		});
	</script>
	{/if}
	
	
	
	
	
</head>
<body>
<div id="wrapper"><!-- wraps the entire page -->
	
	<!-- container -->
	<div id="container">
		
		<div id="vert-logo"></div>
		
			
		<!-- main navigation -->
			<ul id="mainNavRoll">
				<li id="home"><a href="/leavebusinesscardcom/" title=""><span></span></a></li>
				<li id="profiles"><a href="/leavebusinesscardcom/profiles" title=""><span></span></a></li>
				<li id="sign-up"><a href="/leavebusinesscardcom/sign-up" title=""><span></span></a></li>
				<li id="upload"><a href="/leavebusinesscardcom/upload" title=""><span></span></a></li>
				<li id="about"><a href="/leavebusinesscardcom/about" title=""><span></span></a></li>
				<li id="logo"><a href="/leavebusinesscardcom/" title=""><span></span></a></li>
			</ul>
			<!-- <h1>LeaveYourBusinesscard</h1>
			<img src="/leavebusinesscard/i/lybc-header-border.jpg" width="720px;" /> -->
		
		<!-- /main navigation -->
		
		<!-- primary -->
		<div id="primary">