<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>Housing Works</title>
	<link rel="stylesheet" href="/leavebusinesscard/c/reset.css" media="screen, projection" type="text/css"/>
	<link rel="stylesheet" href="/leavebusinesscard/c/screen.css" media="screen, projection" type="text/css"/>
</head>
<body>
<div id="wrapper"><!-- wraps the entire page -->
	
	<!-- container -->
	<div id="container">
		
		<div id="vert-logo">
			<!-- <img src="/leavebusinesscard/i/lybc-vert-logo.png" width="64" id="vert-logo" />  -->
		</div>
		
			
		<!-- main navigation -->
		<div id="mainNav">
			<ul>
				<li><a href="" title="">Home</a></li>
				<li><a href="" title="">Profiles</a></li>
				<li><a href="" title="">Sign Up</a></li>
				<li><a href="" title="">Search</a></li>
				<li><a href="" title="">About</a></li>
				<li><a href="" title="">Sign In</a></li>
			</ul>
			<h1>leave your business card</h1>
			<img src="/leavebusinesscard/i/lybc-header-border.jpg" width="720px;" />
		</div>
		<!-- /main navigation -->
		
		<!-- primary -->
		<div id="primary">
		
			<h2>Spotlight</h2>
			
			<!-- standard column (main content) -->
			<div id="standard-col">
				
				<!-- spotlight -->
				<div id="spotlight">
					<ul>
						<li>
							<img src="/leavebusinesscard/i/lybc-ratings.jpg" width="100px" id="ratings" />
							<div class="drop-shadow-vert">
								<img src="" id="vert-card" />
							</div>
							
							<!-- profile-image -->
							<div id="profile-image">
								<img src="/leavebusinesscard/i/lybc-profile-thumb.jpg" width="94px" height="94px" />
							</div>
							<!-- /profile-image -->
							
							<!-- meta-data -->
							<div id="meta-data">
								<ul>
									<li>Name, age 23</li>
									<li>add to network</li>
									<li>send message</li>
								</ul>
							</div>
							<!-- /meta-data -->
						</li>
						<li>
							<img src="/leavebusinesscard/i/lybc-ratings.jpg" width="100px" />
							<div class="drop-shadow-vert">
								<img src="" id="vert-card" />
							</div>
							
							<!-- profile-image -->
							<div id="profile-image">
								<img src="/leavebusinesscard/i/lybc-profile-thumb.jpg" width="94px" height="94px" />
							</div>
							<!-- /profile-image -->
							
							<!-- meta-data -->
							<div id="meta-data">
								<ul>
									<li>Name, age 23</li>
									<li>add to network</li>
									<li>send message</li>
								</ul>
							</div>
							<!-- /meta-data -->
						</li>
						<li>
							<img src="/leavebusinesscard/i/lybc-ratings.jpg" width="100px" />
							<div class="drop-shadow-vert">
								<img src="" id="vert-card" />
							</div>
							
							<!-- profile-image -->
							<div id="profile-image">
								<img src="/leavebusinesscard/i/lybc-profile-thumb.jpg" width="94px" height="94px" />
							</div>
							<!-- /profile-image -->
							
							<!-- meta-data -->
							<div id="meta-data">
								<ul>
									<li>Name, age 23</li>
									<li>add to network</li>
									<li>send message</li>
								</ul>
							</div>
							<!-- /meta-data -->
						</li>
					</ul>
				</div>
				<!-- /spotlight -->
				
				<!-- business cards -->
				<div id="business-cards">
					<ul>
						<li>
							<img src="/leavebusinesscard/i/lybc-ratings.jpg" width="100px" />
							<div class="drop-shadow-horz">
								<img src="" id="horz-card" />
							</div>
							<!-- profile-image -->
							<div id="profile-image">
								<img src="/leavebusinesscard/i/lybc-profile-thumb.jpg" width="94px" height="94px" />
							</div>
							<!-- /profile-image -->
							
							<!-- meta-data -->
							<div id="meta-data">
								<ul>
									<li class="meta-name">Name, age 23</li>
									<li>add to network</li>
									<li>send message</li>
								</ul>
							</div>
							<!-- /meta-data -->
						</li>
						<li>
							<img src="/leavebusinesscard/i/lybc-ratings.jpg" width="100px" />
							<div class="drop-shadow-horz">
								<img src="" id="horz-card" />
							</div>
							<!-- profile-image -->
							<div id="profile-image">
								<img src="/leavebusinesscard/i/lybc-profile-thumb.jpg" width="94px" height="94px" />
							</div>
							<!-- /profile-image -->
							
							<!-- meta-data -->
							<div id="meta-data">
								<ul>
									<li class="meta-name">Name, age 23</li>
									<li>add to network</li>
									<li>send message</li>
								</ul>
							</div>
							<!-- /meta-data -->
						</li>
						<li>
							<img src="/leavebusinesscard/i/lybc-ratings.jpg" width="100px" />
							<div class="drop-shadow-horz">
								<img src="" id="horz-card" />
							</div>
							<!-- profile-image -->
							<div id="profile-image">
								<img src="/leavebusinesscard/i/lybc-profile-thumb.jpg" width="94px" height="94px" />
							</div>
							<!-- /profile-image -->
							
							<!-- meta-data -->
							<div id="meta-data">
								<ul>
									<li class="meta-name">Name, age 23</li>
									<li>add to network</li>
									<li>send message</li>
								</ul>
							</div>
							<!-- /meta-data -->
						</li>
						<li>
							<img src="/leavebusinesscard/i/lybc-ratings.jpg" width="100px" />
							<div class="drop-shadow-horz">
								<img src="" id="horz-card" />
							</div>
							<!-- profile-image -->
							<div id="profile-image">
								<img src="/leavebusinesscard/i/lybc-profile-thumb.jpg" width="94px" height="94px" />
							</div>
							<!-- /profile-image -->
							
							<!-- meta-data -->
							<div id="meta-data">
								<ul>
									<li class="meta-name">Name, age 23</li>
									<li>add to network</li>
									<li>send message</li>
								</ul>
							</div>
							<!-- /meta-data -->
						</li>
						<li>
							<img src="/leavebusinesscard/i/lybc-ratings.jpg" width="100px" />
							<div class="drop-shadow-horz">
								<img src="" id="horz-card" />
							</div>
							<!-- profile-image -->
							<div id="profile-image">
								<img src="/leavebusinesscard/i/lybc-profile-thumb.jpg" width="94px" height="94px" />
							</div>
							<!-- /profile-image -->
							
							<!-- meta-data -->
							<div id="meta-data">
								<ul>
									<li class="meta-name">Name, age 23</li>
									<li>add to network</li>
									<li>send message</li>
								</ul>
							</div>
							<!-- /meta-data -->
						</li>
						<li>
							<img src="/leavebusinesscard/i/lybc-ratings.jpg" width="100px" />
							<div class="drop-shadow-horz">
								<img src="" id="horz-card" />
							</div>
							<!-- profile-image -->
							<div id="profile-image">
								<img src="/leavebusinesscard/i/lybc-profile-thumb.jpg" width="94px" height="94px" />
							</div>
							<!-- /profile-image -->
							
							<!-- meta-data -->
							<div id="meta-data">
								<ul>
									<li class="meta-name">Name, age 23</li>
									<li>add to network</li>
									<li>send message</li>
								</ul>
							</div>
							<!-- /meta-data -->
						</li>
					</ul>
				</div>
				<!-- /business cards -->
			</div>
			<!-- /standard column -->
			
			<!-- minor column (right side column) -->
			<div id="minor-col">
				
				<div class="minor-form">
					<form>
						<fieldset>
							<label for="search">Search</label>
							<input type="text" name="search" value="search members" id="search" />
						</fieldset>
						<input type="button" name="search-btn" id="search-btn" value="search" />
						
					</form>
					<h3>Sign In</h3>
					<form>
						<fieldset>
							<label for="username">Username</label>
							<input type="text" name="username" tabindex="1" id="username" value="" class="required username" maxlength="128" />
						</fieldset>
						<fieldset>
							<label for="password">Password <a href="/account/forgot-password">Forgot?</a></label>
							<input type="password" name="password" id="password" tabindex="2" value="" class="required password" maxlength="255" />
						</fieldset>
						<input type="button" name="login-btn" id="login-btn" value="enter" />
					</form>
					
					<p>
						Welcome to leave your business card.
						Sign up today and meet other business
						professionals in your field.
					</p>
				</div>
				
				
			</div>
			<!-- /minor column -->
			
		</div>
		<!-- /primary -->
		
		<!-- footer -->
		<div id="footer">footer</div>
	</div>
	<!-- /container -->
</div>
<!-- /wrapper -->

</body>
</html>