{embed=leavebusinesscardcom/.header}

<div id="standard-col">
	<div class="standard-box">
		<div class="text">
			<p>Welcome to the member gallery</p>
			<form>
				<fieldset>
					<label for="gall-search">Seach Members</label>
					<input type="text" name="gall-search" id="gall-search" value="" />
				</fieldset>
				<fieldset>
					<label for="gall-filter">
					<input type="radio" name="gall-filter" id="gall-filter-profession" value="profession" />by profession</label>
					<label for="gall-filter">
					<input type="radio" name="gall-filter" id="gall-filter-name" value="name" />by name</label>
				</fieldset>
			</form>
		</div>
	</div>
</div>

<div id="minor-col">
	{embed=leavebusinesscardcom/.sign-in page="profiles"}
</div>

<div id="full-col">
	<!-- gallery-vert -->
	<div id="gallery-vert">
		<ul>
			<li>
				<img src="/leavebusinesscard/i/lybc-star-ratings.gif" width="100px" id="ratings" />
				<div class="drop-shadow-vert">
					<img src="" id="vert-card" />
				</div>
							
				<!-- profile-image -->
				<div id="profile-image">
					<img src="/leavebusinesscard/i/lybc-profile-thumb.jpg" width="40px" height="40px" />
				</div>
				<!-- /profile-image -->
							
				<!-- meta-data -->
				<div id="meta-data">
					<p><a href="/leavebusinesscardcom/member"><b>Name, age 23</b></a></p>
					<p><a>+Add to network</a></p>
					<p><a>Send message</a></p>
				</div>
				<!-- /meta-data -->
			</li>
			<li>
				<img src="/leavebusinesscard/i/lybc-star-ratings.gif" width="100px" id="ratings" />
				<div class="drop-shadow-vert">
					<img src="" id="vert-card" />
				</div>
							
				<!-- profile-image -->
				<div id="profile-image">
					<img src="/leavebusinesscard/i/lybc-profile-thumb.jpg" width="40px" height="40px" />
				</div>
				<!-- /profile-image -->
							
				<!-- meta-data -->
				<div id="meta-data">
					<p><a href="/leavebusinesscardcom/member"><b>Name, age 23</b></a></p>
					<p><a>+Add to network</a></p>
					<p><a>Send message</a></p>
				</div>
				<!-- /meta-data -->
			</li>
			<li>
				<img src="/leavebusinesscard/i/lybc-star-ratings.gif" width="100px" id="ratings" />
				<div class="drop-shadow-vert">
					<img src="" id="vert-card" />
				</div>
							
				<!-- profile-image -->
				<div id="profile-image">
					<img src="/leavebusinesscard/i/lybc-profile-thumb.jpg" width="40px" height="40px" />
				</div>
				<!-- /profile-image -->
							
				<!-- meta-data -->
				<div id="meta-data">
					<p><a href="/leavebusinesscardcom/member"><b>Name, age 23</b></a></p>
					<p><a>+Add to network</a></p>
					<p><a>Send message</a></p>
				</div>
				<!-- /meta-data -->
			</li>
			<li>
				<img src="/leavebusinesscard/i/lybc-star-ratings.gif" width="100px" id="ratings" />
				<div class="drop-shadow-vert">
					<img src="" id="vert-card" />
				</div>
							
				<!-- profile-image -->
				<div id="profile-image">
					<img src="/leavebusinesscard/i/lybc-profile-thumb.jpg" width="40px" height="40px" />
				</div>
				<!-- /profile-image -->
							
				<!-- meta-data -->
				<div id="meta-data">
					<p><a href="/leavebusinesscardcom/member"><b>Name, age 23</b></a></p>
					<p><a>+Add to network</a></p>
					<p><a>Send message</a></p>
				</div>
				<!-- /meta-data -->
			</li>
			<li>
				<img src="/leavebusinesscard/i/lybc-star-ratings.gif" width="100px" id="ratings" />
				<div class="drop-shadow-vert">
					<img src="" id="vert-card" />
				</div>
							
				<!-- profile-image -->
				<div id="profile-image">
					<img src="/leavebusinesscard/i/lybc-profile-thumb.jpg" width="40px" height="40px" />
				</div>
				<!-- /profile-image -->
							
				<!-- meta-data -->
				<div id="meta-data">
					<p><a href="/leavebusinesscardcom/member"><b>Name, age 23</b></a></p>
					<p><a>+Add to network</a></p>
					<p><a>Send message</a></p>
				</div>
				<!-- /meta-data -->
			</li>
		</ul>
	</div>
	<!-- /gallery-vert -->
	
	<div class="horz-border"></div>
	
	<!-- gallery-horz -->
	<div id="gallery-horz">
		<ul>
			<li>
				<img src="/leavebusinesscard/i/lybc-star-ratings.gif" width="100px" id="ratings" />
				<div class="drop-shadow-horz">
					<img src="" id="horz-card" />
				</div>
							
				<!-- profile-image -->
				<div id="profile-image">
					<img src="/leavebusinesscard/i/lybc-profile-thumb.jpg" width="40px" height="40px" />
				</div>
				<!-- /profile-image -->
							
				<!-- meta-data -->
				<div id="meta-data">
					<p><a href="/leavebusinesscardcom/member"><b>Name, age 23</b></a></p>
					<p><a>+Add to network</a></p>
					<p><a>Send message</a></p>
				</div>
				<!-- /meta-data -->
			</li>
			<li>
				<img src="/leavebusinesscard/i/lybc-star-ratings.gif" width="100px" id="ratings" />
				<div class="drop-shadow-horz">
					<img src="" id="horz-card" />
				</div>
							
				<!-- profile-image -->
				<div id="profile-image">
					<img src="/leavebusinesscard/i/lybc-profile-thumb.jpg" width="40px" height="40px" />
				</div>
				<!-- /profile-image -->
							
				<!-- meta-data -->
				<div id="meta-data">
					<p><a href="/leavebusinesscardcom/member"><b>Name, age 23</b></a></p>
					<p><a>+Add to network</a></p>
					<p><a>Send message</a></p>
				</div>
				<!-- /meta-data -->
			</li>
			<li>
				<img src="/leavebusinesscard/i/lybc-star-ratings.gif" width="100px" id="ratings" />
				<div class="drop-shadow-horz">
					<img src="" id="horz-card" />
				</div>
							
				<!-- profile-image -->
				<div id="profile-image">
					<img src="/leavebusinesscard/i/lybc-profile-thumb.jpg" width="40px" height="40px" />
				</div>
				<!-- /profile-image -->
							
				<!-- meta-data -->
				<div id="meta-data">
					<p><a href="/leavebusinesscardcom/member"><b>Name, age 23</b></a></p>
					<p><a>+Add to network</a></p>
					<p><a>Send message</a></p>
				</div>
				<!-- /meta-data -->
			</li>
			<li>
				<img src="/leavebusinesscard/i/lybc-star-ratings.gif" width="100px" id="ratings" />
				<div class="drop-shadow-horz">
					<img src="" id="horz-card" />
				</div>
							
				<!-- profile-image -->
				<div id="profile-image">
					<img src="/leavebusinesscard/i/lybc-profile-thumb.jpg" width="40px" height="40px" />
				</div>
				<!-- /profile-image -->
							
				<!-- meta-data -->
				<div id="meta-data">
					<p><a href="/leavebusinesscardcom/member"><b>Name, age 23</b></a></p>
					<p><a>+Add to network</a></p>
					<p><a>Send message</a></p>
				</div>
				<!-- /meta-data -->
			</li>
			<li>
				<img src="/leavebusinesscard/i/lybc-star-ratings.gif" width="100px" id="ratings" />
				<div class="drop-shadow-horz">
					<img src="" id="horz-card" />
				</div>
							
				<!-- profile-image -->
				<div id="profile-image">
					<img src="/leavebusinesscard/i/lybc-profile-thumb.jpg" width="40px" height="40px" />
				</div>
				<!-- /profile-image -->
							
				<!-- meta-data -->
				<div id="meta-data">
					<p><a href="/leavebusinesscardcom/member"><b>Name, age 23</b></a></p>
					<p><a>+Add to network</a></p>
					<p><a>Send message</a></p>
				</div>
				<!-- /meta-data -->
			</li>
			<li>
				<img src="/leavebusinesscard/i/lybc-star-ratings.gif" width="100px" id="ratings" />
				<div class="drop-shadow-horz">
					<img src="" id="horz-card" />
				</div>
							
				<!-- profile-image -->
				<div id="profile-image">
					<img src="/leavebusinesscard/i/lybc-profile-thumb.jpg" width="40px" height="40px" />
				</div>
				<!-- /profile-image -->
							
				<!-- meta-data -->
				<div id="meta-data">
					<p><a href="/leavebusinesscardcom/member"><b>Name, age 23</b></a></p>
					<p><a>+Add to network</a></p>
					<p><a>Send message</a></p>
				</div>
				<!-- /meta-data -->
			</li>
		</ul>
	</div>
	<!-- /gallery-horz -->
</div>


	
{embed=leavebusinesscardcom/.footer}