{embed=leavebusinesscardcom/.header}
	
	<!-- full-col -->
	<div id="full-col">
		<h2>Thank You for registering</h2>
		
		<p>An email with registration instructions will be sent to you</p>
		<h3>Get started</h3>
		<div class="steps">
			<img src="/leavebusinesscard/i/lybc-wrk-one.png" width="64" height="64" />
			<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
				Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer 
			</p>
		</div>
		<div class="steps">
			<img src="/leavebusinesscard/i/lybc-wrk-one.png" width="64" height="64" />
			<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
				Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer 
			</p>
		</div>
		<div class="steps">
			<img src="/leavebusinesscard/i/lybc-wrk-one.png" width="64" height="64" />
			<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
				Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer 
			</p>
		</div>
		<h3>How it works</h3>
		<div class="steps">
			<img src="/leavebusinesscard/i/lybc-wrk-one.png" width="64" height="64" />
			<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
				Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer 
			</p>
		</div>
		<div class="steps">
			<img src="/leavebusinesscard/i/lybc-wrk-one.png" width="64" height="64" />
			<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
				Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer 
			</p>
		</div>
		<div class="steps">
			<img src="/leavebusinesscard/i/lybc-wrk-one.png" width="64" height="64" />
			<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
				Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer 
			</p>
		</div>
	</div>
	
{embed=leavebusinesscardcom/.footer}