{embed=leavebusinesscardcom/.header}
		
			<h2>Welcome to the business card uploader</h2>
			
			<!-- standard column (main content) -->
			<div id="standard-col">
				<div id="uploader">
					<h1>Select a file to upload 2 mb limit</h1><br />
					<input type="text" name="uploader" size="40" id="upload-box" />
					Attach file
				</div>
			</div>
			<!-- /standard column -->
			
			<!-- minor-col -->
			<div id="minor-col">
				{embed=leavebusinesscardcom/.sign-in page="profiles"}
			</div>
			<!-- /minor col -->
			
{embed=leavebusinesscardcom/.footer}