<h2>How It Works</h2>
<!-- steps -->
<div class="steps">
	<img src="/i/lybc-wrk-one.png" width="64" height="64" />
	<p>
		Create a member profile by signing up with LeaveYourBusinessCard.com. 
		Simply fill in the required areas with your business's information, choose your membership type and you're one step closer to becoming a valued member.
	</p>
</div>

<div class="steps">
	<img src="/i/lybc-wrk-one.png" width="64" height="64" />
	<p>
		The next step is to upload an image of your business card to be posted on your member profile page. 
		Most file types are accepted for the upload process.
	</p>
</div>

<div class="steps">
	<img src="/i/lybc-wrk-one.png" width="64" height="64" />
	<p>
		Now you have finished creating your member profile. You will now have the ability to post any and all information to advertise your services to potential clients. 
		Good luck with your business and thank you for becoming a valued member!
	</p>
</div>
<!-- /steps -->
