<div class="minor-form">
	
	<h3>Sign Up</h3>
	{exp:lybc_account:sign_up_form post="/sign-up" name="sign-up-form" id="sign-up-form"}
		
		
		<input type="hidden" name="form-submit" value="form-submit" />
		<input type="hidden" name="return" value="/sign-up-thank-you" />
		<input type="hidden" name="authcode" value="{exp:lybc_account:authcode}" />
		
		{if errors}
			<div class="errors">
				{errors}
			</div>
		{/if}
		
		<fieldset class="textbox">
			<div class="prompt">
				<div class="holding">
					<label for="full-name">Name</label>
					<input type="text" name="full-name" tabindex="1" id="full-name" value="" class="required full-name" maxlength="128" />
				</div>
			</div>
		</fieldset>
		<fieldset class="textbox">
			<div class="prompt">
				<div class="holding">
					<label for="location">Location</label>
					<input type="text" name="name" tabindex="1" id="name" value="" class="" maxlength="128" />
				</div>
			</div>
		</fieldset>
		<fieldset class="textbox">
			<div class="prompt">
				<div class="holding">
					<label for="email">Email</label>
					<input type="text" name="email" tabindex="2" id="email" value="" class="required email" maxlength="128" />
				</div>
			</div>
		</fieldset>
		<fieldset class="textbox">
			<div class="prompt">
				<div class="holding">
					<label for="username">Username</label>
					<input type="text" name="username" tabindex="3" id="username" value="" class="required username" maxlength="128" />
				</div>
			</div>
		</fieldset>
		<!-- <fieldset>
			<label for="username">Username</label>
			<input type="text" name="username" tabindex="3" id="username" value="" class="required username" maxlength="128" />
		</fieldset>  -->
		<fieldset class="textbox">
			<div class="prompt">
				<div class="holding">
					<label for="password">Password</label>
					<input type="password" name="password" id="password" tabindex="4" value="" class="required password" maxlength="255" />
				</div>
			</div>
		</fieldset>
		<input type="submit" name="login-btn" id="login-btn" tabindex="5" value="join now" />
	{/exp:lybc_account:sign_up_form}
</div>