{embed=site/.header}
	<h2>About</h2>
	
	<!-- standard column (main content) -->
	<div id="standard-col">
		
		
		<!-- message -->
		<p>
			LeaveYourBusinessCard is an online resource which creates an easy and 
			convenient method to promote and market any business of any size. 
			Unlike similar sites, we do not require you to become a member 
			in order to view listings of services you seek. If you choose to 
			become a member, you will be able to take advantage of a marketing 
			focused social network for your business. Anyone can join, anyone 
			can become a member, and it&rsquo;s a quick and easy enrollment process.
		</p>
		
		<p>
			A little history of how LeaveYourBusinessCard came to be &#133; My fianc&eacute; and her 
			friend had recently started an event planning company. She wanted me to pass 
			out a few of her cards to help promote her business services. Long story short, 
			I was the typical lazy guy and never got around to it. As I was thinking of how 
			lazy and a &ldquo;not-so-good&rdquo; of a fianc&eacute; that I was being, I began coming up with 
			ideas of how I could do something, but not really having to do much at the same time.
		</p>
		
		<p>	
			Then the idea hit me, &ldquo;what if I created a virtual place that everyone and anyone 
			could visit and either leave a business card or view a business card from someone 
			that had services they were looking for?&rdquo; This idea allowed me to save some face 
			and at the same time not having to do much at all! Thus began the idea, the development, 
			the website LeaveYourBusinessCard.com.
		</p>
		<!-- /message -->
		<br /><br />
	</div>
	<!-- /standard column -->
	
	<!-- minor-col -->
	<div id="minor-col">
		<!-- single-spotlight -->
			<img src="/i/lybc-star-ratings.gif" width="100px" id="ratings" />
			<div class="drop-shadow-vert">
				<img src="" id="vert-card" />
			</div>
			
			<!-- <h4>{title} {author_id}</h4> -->
				<div id="profile-image">
					<img src="/i/lybc-profile-thumb.jpg" width="40px" height="40px" />
				</div>
			
			<!-- meta-data -->
			<div id="meta-data">
				<p>Kyle</p>
				<p>Founder, LeaveYourBusinesscard.com</p>
				<p>Virginia</p>
				<!-- <p><a>+Add to network</a></p>
				<p><a>Send message</a></p> -->
			</div>
			<!-- /meta-data -->
			
		<!-- /single-spotlight -->
		
		
		
	</div>
	<!-- /minor-col -->
	
	<!-- full-col -->
	<div id="full-col">
		{embed=site/.how-it-works}
	</div>
	<!-- /full-col -->
	
{embed=site/.footer}