{embed=site/.header}
		<h2>Spotlight</h2>
			<!-- standard column (main content) -->
			<div id="standard-col">
				
				<!-- spotlight -->
				<div id="spotlight">
					{embed=snippet/card orientation="Landscape" spotlight=""}
				</div>
				<!-- /spotlight -->
				
				<!-- business cards -->
				<div id="business-cards">
					{embed=snippet/card orientation="Portrait"}
				</div>
				<!-- /business cards -->
			</div>
			<!-- /standard column -->
			
			<!-- minor column (right side column) -->
			<div id="minor-col">
				
				{embed=site/.sign-in page="home"}
				
			</div>
			<!-- /minor column -->
			
{embed=site/.footer}