{embed=leavebusinesscardcom/.header}
	
	
	<!-- standard column (main content) -->
	<div id="standard-col">
		<!-- single-spotlight -->
		<div id="single-spotlight">
			<img src="/leavebusinesscard/i/lybc-star-ratings.gif" width="100px" id="ratings" />
			<div class="drop-shadow-vert">
				<img src="" id="vert-card" />
			</div>
			
		</div>
		<!-- /single-spotlight -->
		
		<div id="member-meta">
			<h1>Raymond Manalo</h1>
			<!-- profile-image -->
			<div id="profile-image">
				<img src="/leavebusinesscard/i/lybc-profile-thumb.jpg" width="40px" height="40px" />
			</div>
			<!-- /profile-image -->
			
			<!-- meta-data -->
			<div id="meta-data">
				<p>dob: 6/23/1982</p>
				<p>Web Developer</p>
				<p>Housing Works</p>
				<p class="highlight social-action">add to network</p>
				<p class="social-action">send message</p>
			</div>
			<!-- /meta-data -->
		</div>
		
		
		<h2>About</h2>
		<p id="member-about">
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
			Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer 
			took a galley of type and scrambled it to make a type specimen book. 
			It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
			It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with 
			desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		</p>
	</div>
	<!-- /standard column -->
	
	<!-- minor-col -->
	<div id="minor-col">
		{embed=leavebusinesscardcom/.sign-in page="profiles"}
	</div>
	<!-- /minor-col -->
{embed=leavebusinesscardcom/.footer}