<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>

<div id="wrapper"><!-- wraps the entire page -->
	
	<!-- container -->
	<div id="container">
		
		<div id="vert-logo"></div>
		
			
		<!-- main navigation -->
			<ul id="mainNavRoll">
				<li id="home"><a href="/leavebusinesscardcom/" title=""><span></span></a></li>
				<li id="profiles"><a href="/leavebusinesscardcom/profiles" title=""><span></span></a></li>
				<li id="sign-up"><a href="/leavebusinesscardcom/sign-up" title=""><span></span></a></li>
				<li id="upload"><a href="/leavebusinesscardcom/upload" title=""><span></span></a></li>
				<li id="about"><a href="/leavebusinesscardcom/about" title=""><span></span></a></li>
				<li id="logo"><a href="/leavebusinesscardcom/" title=""><span></span></a></li>
			</ul>
			<!-- <h1>LeaveYourBusinesscard</h1>
			<img src="/leavebusinesscard/i/lybc-header-border.jpg" width="720px;" /> -->
		
		<!-- /main navigation -->
		
		<!-- primary -->
		<div id="primary">
		
		</div>
		<!-- /primary -->
		
		<!-- footer -->
		<div id="footer">footer</div>
		
	</div>
	<!-- /container -->
	
</div>
<!-- /wrapper -->

</body>
</html>