{embed=site/.header}
	
	<h2>Logged Out</h2>
	
	<!-- standard column (main content) -->
	<div id="standard-col">
		<p>Thank You</p>
		<p>
			You have just left leaveyourbusinesscard.com.
			You can <a href="{path='/'}">return to the home page</a>
			or <a href="{path='/site/sign-in'}">sign in again</a> 
		</p>
		<p>Come back and</p>
		<div class="steps">
			<img src="/i/lybc-wrk-one.png" width="64" height="64" />
			<p>
				Browse through our member profiles and discover new or already 
				established bussineses that may interest you
			</p>
		</div>
		<div class="steps">
			<img src="/i/lybc-wrk-one.png" width="64" height="64" />
			<p>
				Re-visit peridically to find updates from your favorite business' profiles, 
				or come back and learn about new ones
			</p>
		</div>
		<div class="steps">
			<img src="/i/lybc-wrk-one.png" width="64" height="64" />
			<p>
				If you have a business of your own, become a member 
				today to begin marketing to your potential new clients
			</p>
		</div>
	</div>
{embed=site/.footer}